<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Evento</title>
</head>
<body>
<h1>Editar Evento</h1>
<form action="#" th:action="@{/events/edit/{id}(id=${event.id})}" th:object="${event}" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" th:field="*{name}" required>
    <br>
    <label for="location">Localização:</label>
    <input type="text" id="location" th:field="*{location}" required>
    <br>
    <label for="date">Data:</label>
    <input type="date" id="date" th:field="*{date}" required>
    <br>
    <label for="description">Descrição:</label>
    <textarea id="description" th:field="*{description}" required></textarea>
    <br>
    <button type="submit">Atualizar Evento</button>
</form>
<a href="/events">Voltar</a>
</body>
</html>
